<body>
  <h2>Hi {{ user }}</h2>
  <p>Your inbox:</p>
  {% if my_messages %}
  <ul>
    {% for m in my_messages %}
      <li>{{m.sent_date }} <br/> {{ m.message_text }} <br/> From: {{ m.sender }}</a></li>
    {% endfor %}
  </ul>
  {% else %} 
    <p>You have no messages.</p>
  {% endif %}
  
  <form action="send/", method="POST">
    {% csrf_token %}
    <span>To:</span><br/>
    <select name="to">
      {% for user in all_users %}
        <option value="{{ user.username }}">{{ user.username}}</option>
      {% endfor %}
    </select>
    <br/>
    
    <br/>
      <span>Message:</span><br/>
      <input type="text" name="message"/>
      <br/>
      <input type="submit" name="action" value="Send"/>
      <input type="submit" name="action" value="Character Count">
  </form>
  <br/>
  <form action="profile/", method="GET">
    <input type="hidden" name="user" value="{{ user }}"/>
    <input type="submit" value="Show my profile"/>
  </form>

    <br/>
  
    <p>
      <a href="/accounts/logout/">Log Out </a>
    </p>


</body>